*~
*.pyc
*.log
*.out
*.bak
*.png
*.pt
*.ckpt
*.txt
*.pdf
*.cache
*.model
*.jsonl
*.zip
*.gz
*.tgz
.nfs*
*.e*
*.o*
*.db
*.prob
*.grad*
*.lock
tmp*
_*
*output
*_logs
cached_*
*-out
data/*/LICENSE
experiments-*
auth_key
